[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
pyyaml = "*"
uvicorn = "*"
fastapi = "*"

[requires]
python_version = "3.7"

[scripts]
tests = "pytest tests.py"
start = "uvicorn api_server:app --reload"
